<div class="user-registration">
  <%if @errors != nil%>
    <ul>
    <%@errors.each do |error|%>
      <%=error%>
    <%end%>
    </ul>
  <%end%>
  <form action="/user/new" method="post">
    <label>Email:</label>
    <input type="email" name=user[email]>
    <label>Username:</label>
    <input type="text" name=user[username]>
    <label>Password:</label>
    <input type="password" name=user[password]>
    <input type="submit" value="submit">
  </form>
</div>
