<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Boiler Plate</title>
</head>

<body>
  <div class="container">
    <header role="banner">
      <h1><a href="/">Site Name Here</a></h1>
      <nav>
      <a href="/">Home</a>
        <%if !user_logged_in? %>
        <a href="/user/login">LogIn</a>
        <a href="/user/new">Register</a>
        <%else%>
        <a href="/user/<%=current_user.id%>"><%=current_user.username%></a>
        <a href="/user/logout">Logout</a>
        <%end%>
      </nav>

    </header>

    <%= yield %>

    <footer>

    </footer>
  </div>
</body>
</html>
